:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --header-first-text-color: #212121;
  --header-second-text-color: #757575;
  --accent-color: #2196f3;
  --second-header-logo-color: #000000;
  --second-footer-logo-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --first-section-bcg-color: #f5f4fa;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
}
